[submodule "retex_backend"]
	path = retex_backend
	url = https://github.com/Natanco1/retex_backend.git
[submodule "retex_front"]
	path = retex_front
	url = https://github.com/Natanco1/retex_front.git
